
/* styling for the icon in header */
.bug {
  width: 80px;
  float: left;
  margin: 10px;
}

body {
background-color: #f6f6f2;
color: whitesmoke;
font-size: 16px;
}
/* styling for the header and nav */

header {
background-color: #d96846;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
}

.header-content{
display: flex;
align-items: center;
}

.header-content h1{
  margin: 0;
  color: #41462a;
  font-size: 35px;
  float: inline-start;
  }

.link {
  text-decoration: none; /* Remove underlines from links */
  color: inherit; /* Inherit the color from the parent */
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

nav a {
  color: #41462a;
  font-size: 22px;
  text-decoration: none;
}

/* styling for the chagas micorscopic image */
.chagas {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
  background-image: url(img/chagas.jpeg);
  background-size: 30%;
} 

h1 {
  margin: 0;
  color: #596235;
  font-size: 35px;
  float: inline-start;
}

/* styling for text inside farm image */
.container {
  width: 100%;
  position: relative;
  background-image: url(img/chagas.jpeg);
  background-size: cover ;
}

.container .inside {
  position: absolute;
  width: 100%;
  background-color: #7e6e6153;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container .inside p{
  color: #f5f7f8;
  font-size: 40px;
  text-align: center;
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .container .inside p {
    font-size: 18px; 
  }
}

.about {
  background-color: #d96846;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.survey {
  display: inline-block;
  padding: 10px 20px;
  background-color: #596235;
  color: #f3f4f5;
  text-decoration: none;
  border-radius: 5px;
  font-size: 30px;
  transition: background-color 0.3s, transform 0.2s;
}


p {
  font-size: 18px;
  color: black;
}

h2 {
margin: 0;
color: #596235;
font-size: 25px;
}

.chagasflow {
border-radius: 15px;
max-width: 80%;
height: auto;
background-image: url(../img/chagasflow.png);
}

.Tcruzi {
  background-color: #d96846;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* styling for the upload data section */

form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #0000;
  background-color: #d96846;
  padding: 20px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #080808;
}

input[type="file"] {
  display: none;
}

.custom-file-input {
  background-color: #596235;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
}

.custom-file-input:active {
  background-color: #d96846;
}

.upload-btn {
  display: inline-block;
  margin-top: 10px;
  font-family: monospace;
}

/* styling for the visualize sections */

/* allows the sidebard box and map image to be side by side */
.visuals {
display: flex;
}

/* styling side bar box  */
aside {
margin-right: 1em;
margin-bottom: 1em;
padding: .5em;
height: 200vh;
width: 25%;
background-color: #d96846;
color: #f8f8f8;
flex: 1;
}

/* styling for text */
aside h3 {
border-bottom: 1px solid white;
margin-bottom: .5em;
font-size: 15pt;
letter-spacing: .05em;
text-align: left;
}

/* size styling for map image */
.map {
max-width: 80%;
height: auto;
  margin-left: 20px;

}


/* styling for the current data table */
table {
width: 70%;
border-collapse: collapse;
margin-top: 20px;
color: #080808;
}
thead th {
background-color: #99c3ff;
color: #080808;
padding: 10px;
text-align: center;
}
tbody td {
padding: 8px;
text-align: center;
}
tbody tr:nth-child(even) {
background-color: #cde0ff;
}
tbody tr:nth-child(odd) {
  background-color: #deeafe;
}
table, th, td {
border: 1px solid #000;
}
tbody th {
font-weight: bold;
}
